html,
body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.top {
    background-color: orange;
    padding: 2px 0;
}

.top p {
    text-align: center;
    letter-spacing: 5px;
}

.top p b {
    letter-spacing: 2px;
    font-size: 18px;
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

/* Scroll suave */
:target {
    scroll-margin-top: .6em;
}

h1,
h2,
h3,
.table caption {
    font-size: 32px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
}



span,
.table tbody td a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    color: crimson;
    letter-spacing: 3px;
}

hr {
    margin: 100px 0;
}

.exemplo {
    background-color: #E7E9EB;
    padding: 10px 25px 20px 25px;
    margin-top: 25px;
}

.xmp {
    background-color: white;
    border-left: 5px solid #4a0598;
}

.resultado p {
    margin-left: 20px;
}

.result-p {
    background-color: #4a0598;
    color: white;
    padding: 1px;

}

.result-oculto {
    display: none;
    background-color: crimson;
    color: white;
    padding: 1px;
}

.result-table {
    background-color: white;
    color: black;
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.resultado:hover .result-table {
    height: 200px;
}

.resultado:hover .result-oculto {
    display: block;
}

.resultado:hover .result-p {
    display: none;
}

.result-table table {
    margin: 20px;
    height: 80px;

}

/* Define a tabela zebrada */
.table tbody tr:nth-child(odd) {
    background-color: #E7E9EB;
}

.table tbody tr:nth-child(even) {
    background-color: #fff;
}

/* Fim da tabela zebrada */

.table {
    width: 100%;
    margin: 15px 0 80px 0;
    border-collapse: collapse;
    border: 2px solid #c3c3c3;
}

.table thead th {

    text-align: left;
    padding: 15px 20px;
}


.table tbody td {
    padding: 8px;
    padding-right: 80px;
}

.table tbody tr {
    border-collapse: collapse;
    border: 1px solid #dfdfdf;
}

.table tbody td a {
    display: inline-block;
    width: 80px;
    padding-left: 10px;
}

.table tbody td a:hover {
    color: #4a0598;
}

.table caption {
    margin: 50px 0;
}

.indice {
    padding-left: 30px;
    font-weight: bold;
}



.bi-arrow-down-circle,
.bi-arrow-up-circle {
    color: #b6c0ca;
    width: 50px;
    height: 50px;
}

.bi-arrow-down-circle:hover,
.bi-arrow-up-circle:hover {
    color: #9ba1a7;
}

#btn-up {
    position: fixed;
    right: 1%;
    bottom: 53%;
}

#btn-dg {
    position: fixed;
    right: 1%;
    bottom: 43%;
}


.button {
    background-color: #4a05984d;
    border-radius: 50%;
    padding: 5px 12px;
    color: white;
    font-size: 22px;
}


.button:hover {
    background-color: #4a0598;
}